In [12]:
import pandas as pd 

data = pd.read_excel("Employee Sample Data.xlsx")

print(data.isnull().sum().head(10))

EEID             0
Full Name        0
Job Title        0
Department       0
Business Unit    0
Gender           0
Ethnicity        0
Age              0
Hire Date        0
Annual Salary    0
dtype: int64

In [ ]:
# droping the null values
print(data.dropna())

In [17]:
# replacing the null values
# in numpy the null values are nan values i.e not a number value

import numpy as np
print(data.replace(np.nan,"hi"))  # this will replace all the nulls in every column withs hi 

# we can specifically replace the null values of a column
data["Annual Salary"] = data["Annual Salary"].replace("3000000") # this will replace the null values from salary to 300000

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City            Exit Date
0       0.15  United States    Seattle  2021-10-16 00:00:00
1       0.00          China  Chongqing                   hi
2       0.20  United States    Chicago                   hi
3       0.07  United States    Chicago                   hi
4       0.00  United States    Phoenix                   hi
..       ...            ...        ...                  ...
995     0.00  United States   Columbus                   hi
996     0.00          China    Chengdu  2018-01-08 00:00:00
997     0.15  United States      Miami                   hi
998     0.00          China    Chengdu                   hi
999     0.31  United States      Miami                   hi

[1000 rows x 14 columns]

C:\Users\Kalpesh Pathade\AppData\Local\Temp\ipykernel_13400\2336024005.py:8: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  data["Annual Salary"] = data["Annual Salary"].replace("3000000")

In [ ]:
# fillna - to fill the values with the upper values or lower values 
print(data.fillna(method= "bfill")) # this is backward fill, it wil fill the null values with the below values
print(data.fillna(method= "ffill")) # this will fill the null the values the above values