In [5]:
import pandas as pd

data = pd.read_excel("Employee Sample Data.xlsx")
# print(data)

# checking who did not get the bonus and creating a colonm
data.loc[(data["Bonus %"] == 0), "Getbonus"] = "no bonus"
data.loc[data["Bonus %"] > 0, "Getbonus"] = "bonus"

print(data.head(5))

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date  Getbonus
0     0.15  United States    Seattle 2021-10-16     bonus
1     0.00          China  Chongqing        NaT  no bonus
2     0.20  United States    Chicago        NaT     bonus
3     0.07  United States    Chicago        NaT     bonus
4     0.00  United States    Phoenix        NaT  no bonus

In [10]:
data = pd.read_excel("Practice_pd_1.xlsx")
print(data)

# printing a colomn with full name
data["Full name"] = data["First name"] +" "+ data["Last name"]

# converting it to upper case 
data["Full name"] = data["First name"].str.upper() +" "+ data["Last name"].str.upper()

print(data)

  First name  Last name  Salary EEID
0       ross  tribbiani   20000   E1
1     rachel       bing   35000   E2
2     monica     greeen   50000   E3
3        joy     geller   33000   E4
4   chandlar     buffay   23000   E5
5     phoebe       bing   45000   E6
  First name  Last name  Salary EEID        Full name
0       ross  tribbiani   20000   E1   ROSS TRIBBIANI
1     rachel       bing   35000   E2      RACHEL BING
2     monica     greeen   50000   E3    MONICA GREEEN
3        joy     geller   33000   E4       JOY GELLER
4   chandlar     buffay   23000   E5  CHANDLAR BUFFAY
5     phoebe       bing   45000   E6      PHOEBE BING