In [8]:
import pandas as pd

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Names":["Ram","Sham","Rahul","Vishal","Ravi","Rohit"],
         "Age":[34,56,34,43,28,30]}

data2 = {"Emp Id":["E01","E07","E03","E04","E08","E06"],
        "Salary":[45000,35000,50000,34000,50000,62000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02    Sham   56
2    E03   Rahul   34
3    E04  Vishal   43
4    E05    Ravi   28
5    E06   Rohit   30

  Emp Id  Salary
0    E01   45000
1    E07   35000
2    E03   50000
3    E04   34000
4    E08   50000
5    E06   62000

In [6]:
# merging both the dataframes on the basis of common colonm
print(pd.merge(df1,df2,on = "Emp Id"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02    Sham   56   35000
2    E03   Rahul   34   50000
3    E04  Vishal   43   34000
4    E05    Ravi   28   50000
5    E06   Rohit   30   62000

In [11]:
# if cells have null values
# merging the table on the basis of left join
print(pd.merge(df1,df2,on = "Emp Id", how= "left"))

  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02    Sham   56      NaN
2    E03   Rahul   34  50000.0
3    E04  Vishal   43  34000.0
4    E05    Ravi   28      NaN
5    E06   Rohit   30  62000.0

In [12]:
# another way to write 
print(pd.merge(left=df1,right=df2, on= "Emp Id", how="right"))

  Emp Id   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E07     NaN   NaN   35000
2    E03   Rahul  34.0   50000
3    E04  Vishal  43.0   34000
4    E08     NaN   NaN   50000
5    E06   Rohit  30.0   62000

In [19]:
# Concatenate
# to concatenate both the dataframes should be similar and have simlar datatypes
import pandas as pd

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Names":["Ram","Sham","Rahul","Vishal","Ravi","Rohit"],
         "Age":[34,56,34,43,28,30]}

data2 = {"Emp Id":["E07","E08","E09","E10","E11","E12"],
         "Names":["Sonu","Monu","bittu","chintu","bunty","sunny"],
         "Age":[34,56,34,43,28,30]}



df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(pd.concat([df1,df2]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02    Sham   56
2    E03   Rahul   34
3    E04  Vishal   43
4    E05    Ravi   28
5    E06   Rohit   30
0    E07    Sonu   34
1    E08    Monu   56
2    E09   bittu   34
3    E10  chintu   43
4    E11   bunty   28
5    E12   sunny   30